#!/usr/bin/env bash

set -e

{{ if eq .chezmoi.os "linux" -}}

ORPHANS="$(pacman -Qtdq)"
if [ "$ORPHANS" == "" ]; then
	DELETE_ORPHANS="echo No orphan packages"
else
	DELETE_ORPHANS="pacman -Rns $(echo $ORPHANS | tr '\n' ' ') --noconfirm"
fi

if [[ ! -x "/usr/bin/yay" ]] || [[ ! -x "/usr/bin/sudo" ]]; then
	echo "Updating packages using pacman..."
	su root -c "pacman -Syu --noconfirm && \
$DELETE_ORPHANS"
else
	echo "Updating packages using yay..."
	sudo -u "$(whoami)" -n yay -Syu --noconfirm
	sudo bash -c "$DELETE_ORPHANS"
fi

{{ else if eq .chezmoi.os "darwin" -}}

{{ end -}}
