#!/usr/bin/env bash

set -e

{{ if eq .chezmoi.os "linux" -}}

DELETE_ORPHANS="pacman -Rns $(pacman -Qtdq) --noconfirm"

if ! [ -x "$(command -v yay && command -v sudo)" ]; then
	echo "Updating packages using pacman..."
	su root -c "pacman -Syu --noconfirm && \
$DELETE_ORPHANS"
else
	echo "Updating packages using yay..."
	sudo -u "$(whoami)" -n yay -Syu --noconfirm
	sudo bash -c "$DELETE_ORPHANS"
fi

{{ else if eq .chezmoi.os "darwin" -}}

{{ end -}}
